# Node modules
node_modules/

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Runtime data
pids/
*.pid
*.seed
*.pid.lock

# Environment variables
.env
.env.local
.env.*.local

# SQLite database
*.db
*.sqlite
*.sqlite3

# Mac / Windows system files
.DS_Store
Thumbs.db

# VSCode settings
.vscode/

# React build folder (if you add React frontend inside same repo)
build/
